{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="card center-block">
        <p class="hidden" id="sender_id">{{ app.user.id }}</p>
        <img class="card-img-top img-circle center-block" src="{{ asset('images/default_profile.jpg') }}" alt="User photo">
        <div class="card-block">
            <h4 class="card-title text-center" id="friend_id" data-id="{{ friend.id }}"><strong>{{ friend.username }}</strong></h4>
            <p class="card-text text-center">description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: {{ friend.email }}</li>
            <li class="list-group-item">Total travels: </li>
            <li class="list-group-item">Achievements: </li>
        </ul>
        <div class="card-block">
            <a id="sendMessage" class="card-link btn btn-primary"><i class="glyphicon glyphicon-send"></i> Send Message</a>
            <a href="#" class="card-link btn btn-danger"><i class=" 	glyphicon glyphicon-trash"></i> Remove from friends</a>
        </div>
    </div>
<br>

    <div id="map"></div>

{% endblock fos_user_content %}

{% block additionalscripts %}
    <script src="{{ asset('js/sendMessage.js') }}"></script>
    <script src="{{ asset('js/friendMap.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAk7HtqFKd7XU7U1_nefAUQvqdJSLSj0Q&callback=initMap">
    </script>
{% endblock %}