<form class="form-signin" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

    <h2 class="form-signin-heading">Registration Form</h2>

        <label class="sr-only" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':"Username"}}) }}


        <label class="sr-only" for="email">Email</label>
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':"Email address"}}) }}


        {% for passwordField in form.plainPassword %}
            <label class="sr-only" for="passwordField">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
               {# {{ form_label(passwordField, null, { 'attr': {'class': 'sr-only'} }) }}  class not working, still displaying label#}
                {{ form_widget(passwordField, { 'attr': {'class': 'form-control',  'placeholder':"Password"} }) }}
        {% endfor %}
        {{ form_widget(form) }}

<br>
    <div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
