{% extends '::base.html.twig' %}

{%  block content %}
    <div class="text-center">
        <h3>Users Travels</h3>

        {% for travel in travels %}
            <div class="panel">
                <p><a class="text-danger">{{ travel.user }}</a> added new travel: </p>
                <p>City:{{ travel.city }} </p>
                <p>Country: {{ travel.country }}</p>
                <p>Type: {{ travel.type }}</p>
                <p>Date: {{ travel.date }} </p><br>
            </div>
        {% endfor %}
    </div>
{% endblock %}