{% extends "@FOSUser/layout.html.twig" %}

{%  block content %}
    <div class="text-center">
        <h3>Users Travels</h3>

        {% for travel in travels %}
            <div class="panel">
                <p><a href="{{ path('mytravel_friend_showuserbyid', {'id': travel.user.id}) }}" class="text-danger">{{ travel.user }}</a> added new travel: </p>
                <div class="panel-body">
                    <p>City:{{ travel.city }} </p>
                    <p>Country: {{ travel.country }}</p>
                    <p>Type: {{ travel.type }}</p>
                    <p>Date: {{ travel.date }} </p><br>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}